<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--表单输入绑定-->
<div id="app">
    <!--v-model 在内部使用不同的属性为不同的输入元素并抛出不同的事件：

    text 和 textarea 元素使用 value 属性和 input 事件；
    checkbox 和 radio 使用 checked 属性和 change 事件；
    select 字段将 value 作为 prop 并将 change 作为事件。-->

    <!--  文本  -->
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

    <!--  多行文本  在文本区域插值 (<textarea>{{text}}</textarea>) 并不会生效，应用 v-model 来代替。 -->
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
    <br>
    <!--复选框-->
    <!--  单个复选框，绑定到布尔值：  -->
    <label for="checkbox">{{ checked }}</label>
    <input type="checkbox" id="checkbox" v-model="checked">

    <!--  多个复选框，绑定到同一个数组：  -->
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <!--  单选按钮  -->
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <!--  选择框  -->
    <!--  单选时：  -->
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <!--    多选时 (绑定到一个数组)：  -->
    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <!--  用 v-for 渲染的动态选项：  -->

    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>

    <!--值绑定, 但是有时我们可能想把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。-->
    <!-- 当选中时，`picked` 为字符串 "a" -->
    <input type="radio" v-model="picked" value="a">

    <!-- `toggle` 为 true 或 false -->
    <input type="checkbox" v-model="toggle">

    <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
    <select v-model="selected">
        <option value="abc">ABC</option>
    </select>

    <input type="checkbox" v-model="toggle" true-value="yes" false-value="no"/>

    <!--    // 当选中时-->
    <!--    vm.toggle === 'yes'-->
    <!--    // 当没有选中时-->
    <!--    vm.toggle === 'no'-->
    <input type="radio" v-model="pick" v-bind:value="a">
    <!--    vm.pick === vm.a-->
    <select v-model="selected">
        <!-- 内联对象字面量 -->
        <option v-bind:value="{ number: 123 }">123</option>
    </select>
    <!--    // 当选中时-->
    <!--    typeof vm.selected // => 'object'-->
    <!--    vm.selected.number // => 123-->

    <!--    修饰符-->
    <!-- 在“change”时而非“input”时更新 -->
    <input v-model.lazy="msg"/>
    <!--如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：-->
    <input v-model.number="age" type="number"/>
    <!--  如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：  -->
    <input v-model.trim="msg"/>

</div>

<script type="text/javascript">
    var data = {
        message: 'message',
        checked: true,
        checkedNames: [],
        picked: '',
        selected: '',
        options: [
            {text: 'One', value: 'A'},
            {text: 'Two', value: 'B'},
            {text: 'Three', value: 'C'}
        ],
        msg: 'ggg',

    };

    var vm = new Vue({
        el: "#app",
        data: data,


    });

</script>
</body>
</html>
