<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--条件渲染-->
<div id="app">
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>
    <!--    v-for 还支持一个可选的第二个参数为当前项的索引。-->
    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <br>
    <!-- 用of代替 in-->
    <ul>
        <li v-for="(item, index) of items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <!-- 对象属性迭代 -->
    <ul id="v-for-object" class="demo">
        <!--  第二个的参数为 property 名称 (也就是键名)：第三个参数为索引：-->
        <li v-for="(value, key, index) in object">
            {{index}}-----{{key}} ---- {{ value }}
        </li>
    </ul>
</div>
<!-- 计算属性和侦听器 -->
<script type="text/javascript">
    var data = {
        items: [
            {message: 'Foo'},
            {message: 'Bar'}
        ],
        object: {
            title: 'How to do lists in Vue',
            author: 'Jane Doe',
            publishedAt: '2016-04-10'
        },

    };

    var vm = new Vue({
        el: "#app",
        data: data,

    });

</script>
</body>
</html>
